*{
    font-family: 'lato', sans-serif;
}
body{
    background-color: #1d2124;
    background-image: url("../img/doctor.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
li {
    list-style: none;
    cursor: pointer;
}
ul {
   padding: 0;
    margin: 0;
}
.hide{
    display: none;
}
.opacity{
    opacity: 0.2;
}

.main{
    color: white;
    font-size: 2.5vw;
    text-align: center;
    width: 70vw;
    margin: 4vw auto;
    position: relative;
}

.main__header{
    margin-top: 1.5vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #1c1c38;
    padding: 1.5vw;
    border: 1vw solid white;
    opacity: 0.8;
}

.main__header__logo{
    width: 8vw;
    height: 8vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../img/1.png");
    opacity: 0.8;
}

.main__header__button, .main__modal__button{
    width: 10vw;
    height: 2.5vw;
    justify-self: right;
    align-self: center;
    background-color: orange;
    color: white;
    cursor: pointer;
    font-size: 1.3vw;
    opacity: 0.8;
    border-radius: 24px;
}

.main__content{
    opacity: 0.8;
    margin-top: 1.5vw;
    background-color: #1c1c38;
    padding: 2.5vw;
    border: 1vw solid white;
}

.main__modal{
    position: absolute;
    width: 35vw;
    background-color: #f9e6db;
    border: 0.3vw solid #1c1c38;
    top: 5%;
    left: 25%;
    padding: 0.3vw 1vw 2vw 1vw;
    box-shadow: 0 0 27px 0 white;

}
.main__modal__header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1vw;
}
.main__modal__header-logo{
    width: 4vw;
    height: 4vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../img/1.png");
    opacity: 0.8;

}
.main__modal__header-closemodal{
    width: 2vw;
    height: 2vw;
    justify-self: right;
    align-self: center;
    background-color: transparent;
    color: white;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../img/21.png");
    opacity: 0.8;
}
.main__modal__menu{

}
.main__modal__menu-item{
    color: white;
    font-size: 1.5vw;
    text-align: center;
    background-color: orange;
    margin: 0.4vw;
    padding: 0.4vw;
    opacity: 0.8;
    border-radius: 24px;

}
.main__modal__menu-inputs{

}
.main__modal__menu-input, .main__modal__menu-input-comment{
    width: 90%;
    background-color: dimgray;
    font-size: 1.2vw;
    padding: 0.4vw;
    color: white;
    resize: none;
}

.main__modal__menu-input-p{
    font-size: 1vw;
    line-height: 2vw;
    margin: 0;
}
.main__modal__button{
    margin-top: 0.4vw;
    background-color: #072760;
}
.main__modal__menu-item:hover, .main__header__button:hover, .main__modal__button:hover{
    box-shadow: 0 0 27px 0 white;
    opacity: 1;
}
.main__header__logo:hover, .main__modal__header-logo:hover, .main__modal__header-closemodal:hover{
    opacity: 1;
    cursor: pointer;
}

.active{
    color: orange;
    background-color: #072760;
    font-weight: bold;
}